<nav class="navbar plugin__navbar navbar--sticky"> <a href="#" class="navbar__logo">
  <img
  src="../../../assets/image/logo/logo_black.svg" alt="Logo">
</a>
<div class="navbar__main">
<ul id="menu-menu-1" class="navbar__nav">
  <li id="menu-item-14763"
      class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13859 current_page_item menu-item-14763">
      <a href="https://looka.com/logo-maker/" aria-current="page">Docs</a></li>
  <li id="menu-item-19261"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19261"><a
          href="https://looka.com/brand-kit/">About</a></li>
  <li id="menu-item-10499"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10499"><a
          href="https://looka.com/logo-maker/how-it-works/">Get Offer</a></li>

</ul>
</div> <button class="navbar__toggle"> <span class="screen-reader-text">Toggle menu</span> </button>
</nav>
