<nav class="navbar plugin__navbar navbar--sticky">
  <a href="#" class="navbar__logo">
    <img src="../../../assets/image/logo/logo_black.svg" alt="Logo">
  </a>
  <div #navbarMain class="navbar__main">
    <ul id="menu-menu-1" class="navbar__nav">
      <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13859 current_page_item menu-item-14763">
        <a  target="_blank" href="https://business-name-backend.vercel.app/docs#/" aria-current="page">Docs</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19261">
        <a target="_blank" href="https://www.linkedin.com/in/o%C4%9Fuzhan-%C3%A7art-b73405199/">About</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10499">
        <a  target="_blank" href="https://www.linkedin.com/in/o%C4%9Fuzhan-%C3%A7art-b73405199/">Get Offer</a>
      </li>
    </ul>
  </div>
  <button class="navbar__toggle" (click)="toggleNavbar()">
    <span class="screen-reader-text">Toggle menu</span>
  </button>
</nav>
